.realFake {
    inset:0;
    padding: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    height: 90%;
    width:10%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
}
#fake1 {
    z-index: 11;
    margin-left: 32px;
    position:fixed;
}
#fake2Container{
    inset:0;
    width:100%;
    position:fixed;
    height:100%;
}
#fake2 {
    float:right;
    margin-right:32px;
}
.sideLink {
    height:100%;
    width:100%;
    background-size: cover;
    /* animation-name: myAnimation; */
    filter:brightness(85%);
    transition: .3s;
}
#cs2 {
    height:45%;
    background-image: url("widgets/cs2_fake.webp");
    background-size: cover;
    animation-name: animR;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#discord {
    height: 55%;
    background-image: url("widgets/discord_fake.webp");
    background-size: cover;
    animation-name: animR;
    animation-delay: 5s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
#osu {
    height:20%;
    background-image: url("widgets/osu_fake.webp");
    background-size: cover;
    /* background-position-x: 100%;
    animation-name: animR;
    animation-delay: 1s;
    animation-duration: 13s;
    animation-iteration-count: infinite; */
}
#iwantyou {
    height:30%;
    background-image: url("widgets/iwantyou.webp");
    background-size: cover;
    background-position-x: 100%;
    animation-name: animL;
    animation-delay: 2s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
#artFake {
    height:50%;
    background-image: url("widgets/iwantyou.webp");
    background-size: cover;
    /* background-position-x: 100%; */
    animation-name: animR;
    animation-delay: 4s;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}